/*
****************************
**         COLORS         **
****************************
*/

$orange: #f16718;
$light-orange: #ff9b62;
$dark-blue: #162542;
$blue: #7b8bad;
$light-blue: #e8eff2;
$white: #fff;

/*
****************************
**      QUICK RESETS      **
****************************
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 900;
  color: $dark-blue;
}

body {
  height: 100vh;
  background-color: #f2f2f2;
  line-height: 26px;
  color: $blue;

  font: {
    family: "Barlow", sans-serif;
    weight: 500;
    size: 16px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  background-color: $white;
  display: grid;
}

/*
****************************
**     MOBILE STYLES      **
****************************
*/

/////////////////////////// FIX IMAGES!!! ////////////////////////////

/**** MAIN-HEADER ****/
.main-header,
.features,
.main-footer {
  padding: 0 24px;
}

.main-header {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  min-width: 327px;
  border: unset; // remove this after removing it on every element above
}

/**** HERO ****/
.hero {
  margin-top: 64px;
  padding-left: 24px;

  &__header {
    padding-right: 24px;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
  }

  &__body {
    padding-right: 24px;
    padding-top: 32px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-right: 41px;
    text-transform: uppercase;
    align-items: center;
    font-weight: 700;
  }

  &__image {
    margin-top: 64px;
    min-height: 331px;
    max-height: 425px;
    padding-right: 0;
    background-image: url("../assets/mobile/image-keyboard.jpg");
    background-size: cover;
    border-top-left-radius: 24px; // Is it 24px?
    border-bottom-left-radius: 24px;
  }
}

/**** BUTTONS ****/
.btn {
  font-weight: 700;
  background-color: $orange;
  height: 48px;
  padding: 11px 15px;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  color: $white;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: $light-orange;
}

.btn--light {
  background-color: $light-blue;
  color: $dark-blue;
}

.btn--light:hover,
.btn--light:focus {
  background-color: $dark-blue;
  color: $white;
}

/**** SUB-HERO ****/
.sub-hero {
  //max-width: 375px;

  &__images {
    padding: 0;
    margin: 0;
    padding-top: 24px;
    display: flex;
    width: 100%;
    height: 193px;
    justify-content: space-between;
    gap: 24px;
  }

  &__image-1 {
    width: calc(100% - 233px);
    background-image: url("../assets/mobile/image-phone-and-keyboard.jpg");
    background-size: cover;
    background-color: #f16718;
    background-blend-mode: multiply;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  &__image-2 {
    border-radius: 24px;
    margin-right: 24px;
    width: 220px;
    background-image: url("../assets/mobile/image-glass-and-keyboard.jpg");
    background-size: cover;
  }

  &__header {
    padding: 75px 60px 0 60px;
    padding-top: 75px;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
  }

  &__body {
    text-align: center;
    padding: 24px;
  }
}

/**** FEATURES ****/
.features {
  padding-top: 47px; // 111px total - 64px padding-top on the image
  display: flex;
  flex-direction: column;
  //justify-content: center;
  margin-inline: auto;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    max-width: 400px;

    &:nth-child(1) .features__image {
      background-image: url("../assets/shared/icon-compatible.svg");
    }

    &:nth-child(2) .features__image {
      background-image: url("../assets/shared/icon-bluetooth.svg");
    }

    &:nth-child(3) .features__image {
      background-image: url("../assets/shared/icon-battery.svg");
    }

    &:nth-child(4) .features__image {
      background-image: url("../assets/shared/icon-light.svg");
    }
  }

  &__image {
    background-color: $orange;
    height: 65px;
    width: 65px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__header {
    padding-top: 48px;
    line-height: 28px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  &__body {
    padding-top: 24px;
    text-align: center;
  }
}

/**** FOOTER ****/
.main-footer {
  padding-top: 96px;
  padding-bottom: 50px;
  text-align: center;
}

.typemaster {
  font-weight: 700;
}

pre {
  margin: 0;
  padding: 0;
  font-family: Barlow;
  font-size: 16px;
}

/***********************************
*********** TABLET STYLE ***********
***********************************/

@media screen and (min-width: 768px) {
  .main-header {
    padding: 40px 40px 0 40px;
  }

  .hero {
    padding-left: 40px;
    display: grid;
    grid-template-columns: auto 321px;
    grid-template-areas: "wrapper image";
    align-items: center;
    margin-top: 62px;

    &__wrapper {
      max-width: 445px;
      grid-area: wrapper;
    }

    &__header {
    }

    &__body {
      max-width: 339px;
    }

    &__footer {
      justify-content: flex-start;
      gap: 37px;
    }

    &__image {
      grid-area: image;
      margin: 0;
      height: 425px;
      width: 478px;
      background-image: url("../assets/tablet/image-keyboard.jpg");
    }
  }

  .btn {
    height: 58px;
    padding: 16px 27px;
  }

  .sub-hero {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas:
      "images images"
      "header body";
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px 0 40px;

    &__images {
      grid-area: images;
      height: 100%;
      padding-top: 0;
      //justify-content: space-between;
    }

    &__image-1 {
      background-image: url("../assets/mobile/image-phone-and-keyboard.jpg");
      border-radius: 24px;
      //max-width: 214px;
    }

    &__image-2 {
      background-image: url("../assets/mobile/image-glass-and-keyboard.jpg");
      margin: 0;
      width: 445px;
      min-height: 320px;
    }

    &__header {
      height: 100%;
      grid-area: header;
      max-width: 255px;
      padding: 0;
      padding-top: 72px;
      text-align: left;
    }

    &__body {
      height: 100%;
      grid-area: body;
      max-width: 398px;
      text-align: left;
      padding: 0;
      padding-top: 87px;
    }
  }

  .features {
    //max-width: 1220px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    align-items: flex-start;
    grid-column-gap: 11px;

    &__header {
      padding-left: 0;
      max-width: 250px;
      text-align: left;
    }

    &__body {
      text-align: left;
      max-width: 281px;
    }
  }

  .features__card {
    width: 339px;
    //max-width: 255px;
    //justify-content: start;
    align-items: flex-start;
  }
}

.main-footer {
  padding-top: 142px;
}

/***********************************
********** DESKTOP STYLE ***********
***********************************/

@media screen and (min-width: 1210px) {
  .main-header,
  .hero,
  .sub-hero {
    padding-left: 165px;
    padding-right: 165px;
  }

  .hero {
    grid-template-columns: auto auto;
    justify-content: space-between;
  }

  .hero__wrapper {
    //width: 570px;
  }

  .hero__body {
  }

  .hero__image {
    height: 480px;
    width: 540px;
    background-image: url("../assets/desktop/image-keyboard.jpg");
    border-radius: 24px;
    max-height: unset;
  }

  .sub-hero {
    grid-template-columns: auto auto auto;
    grid-template-areas: "images images sub-wrapper";

    &__wrapper {
      grid-area: sub-wrapper;
      padding-left: 125px;
    }

    &__images {
      width: 730px;
      height: 480px;
    }

    &__image-1 {
      background-image: url("../assets/desktop/image-phone-and-keyboard.jpg");
      width: 255px;
      //max-width: unset;
    }

    &__image-2 {
      background-image: url("../assets/desktop/image-glass-and-keyboard.jpg");
      width: 445px;
    }

    &__header {
      padding-top: 0;
    }

    &__body {
      padding-top: 27px;
      width: 255px;
    }
  }

  .features {
    margin-inline: auto;
    width: 1106px;
    //padding-left: 167px;
    //padding-right: 167px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
  }

  .features__card {
    max-width: 255px;
  }

  .main-footer {
    padding-top: 128px;
  }
}
