/*
****************************
**         COLORS         **
****************************
*/

$orange: #f16718;
$light-orange: #ff9b62;
$dark-blue: #162542;
$blue: #7b8bad;
$light-blue: #e8eff2;
$white: #fff;

/*
****************************
**      QUICK RESETS      **
****************************
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 900;
  color: $dark-blue;
}

body {
  height: 100vh;
  background-color: #f2f2f2;
  line-height: 26px;
  color: $blue;

  font: {
    family: "Barlow", sans-serif;
    weight: 500;
    size: 16px;
  }
}

.container {
  margin: 0 auto;
  max-width: 375px;
  background-color: $white;
  display: grid;
  grid-template-columns: auto; // default - change for tablet etc.
  grid-template-rows: auto; // ?
}

/*
****************************
**     MOBILE STYLES      **
****************************
*/

/**** MAIN-HEADER ****/
.main-header,
.sub-hero,
.features,
.main-footer {
  padding: 0 24px;
  border: 1px solid goldenrod;
}

.main-header {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  min-width: 327px;
  border: unset; // remove this after removing it on every element above
}

/**** HERO ****/
.hero {
  margin-top: 64px;
  padding-left: 24px;

  &__header {
    padding-right: 24px;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
  }

  &__body {
    padding-right: 24px;
    padding-top: 32px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-right: 41px;
    text-transform: uppercase;
    align-items: center;
    font-weight: 700;
  }

  &__image {
    margin-top: 64px;
    min-height: 331px;
    padding-right: 0;
    background-image: url("../assets/mobile/image-keyboard.jpg");
    background-size: cover;
    border-radius: 24px; // Is it 24px?
  }
}

/**** BUTTONS ****/
.btn {
  font-weight: 700;
  background-color: $orange;
  height: 48px;
  padding: 11px 15px;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  color: $white;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: $light-orange;
}

.btn--light {
  background-color: $light-blue;
  color: $dark-blue;
}

.btn--light:hover,
.btn--light:focus {
  background-color: $dark-blue;
  color: $white;
}

/**** SUB-HERO ****/
.sub-hero {
  //
}

/**** FEATURES ****/
.features {
  display: flex;
  flex-direction: column;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:nth-child(1) .features__image {
      background-image: url("../assets/shared/icon-compatible.svg");
    }

    &:nth-child(2) .features__image {
      background-image: url("../assets/shared/icon-bluetooth.svg");
    }

    &:nth-child(3) .features__image {
      background-image: url("../assets/shared/icon-battery.svg");
    }

    &:nth-child(4) .features__image {
      background-image: url("../assets/shared/icon-light.svg");
    }
  }

  &__image {
    background-color: $orange;
    height: 65px;
    width: 65px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

/**** FOOTER ****/
.main-footer {
  text-align: center;
}
